<?xml version="1.0"?>
<SiteConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <SiteName>Unitoys后台管理系统</SiteName>
  <SiteTitle>Unitoys后台管理系统</SiteTitle>
  <SiteKeyword>seo关键字</SiteKeyword>
  <SiteDescription>seo描述</SiteDescription>
  <SiteHost>http://api.unitoys.com</SiteHost>
  <ImageHandleHost>http://img.unitoys.com</ImageHandleHost>
  <MaxFilePicSize>5242880</MaxFilePicSize>
  <NotifyUrl>http://manage.ali168.com/api/alipay/notifyasync</NotifyUrl>
  <HotelUrl>http://touch.qunar.com/h5/hotel/</HotelUrl>
  <FlightTicketUrl>http://touch.qunar.com/h5/flight/</FlightTicketUrl>
  <ApiUrl>http://manage.ali168.com/api/</ApiUrl>
  <AsteriskOutIp>120.24.96.214</AsteriskOutIp>
  <AsteriskOutPort>65060</AsteriskOutPort>
  <AsteriskInIp>115.29.41.39</AsteriskInIp>
  <AsteriskInPort>5060</AsteriskInPort>
  <PublicKey>sjxjwgw2015</PublicKey>
  <CallDirectPricePerMinutes>0.03</CallDirectPricePerMinutes>
  <CallBackPricePerMinutes>0.02</CallBackPricePerMinutes>
  <RedisIp>120.76.240.82</RedisIp>
  <UserAgreementUrl>http://apitest.unitoys.com/Manage/PageShow/P/userAgreement</UserAgreementUrl>
  <DualSimStandbyTutorialUrl>http://apitest.unitoys.com/Manage/PageShow/P/dualSimStandbyTutorial</DualSimStandbyTutorialUrl>
  <BeforeGoingAbroadTutorialUrl>http://apitest.unitoys.com/Manage/PageShow/P/beforeGoingAbroadTutorial</BeforeGoingAbroadTutorialUrl>
  <UpdateConfigTime>1479106153</UpdateConfigTime>
  <IosVersion>1.0.0</IosVersion>
  <IsOpenRegGift>0</IsOpenRegGift>
  <RegGiftAmount>5</RegGiftAmount>
  <MVNOpartner>94c6103a05bf686de23cb83e5713fbb8</MVNOpartner>
  <MVNOPartnerKey>09740e1126b6a3d9388ed7c703de28d3</MVNOPartnerKey>
  <MVNOHost>http://120.76.240.82:8443/</MVNOHost>
  <!--http://120.76.240.82:8443/-->
  <VswServerIp>120.76.240.82</VswServerIp>
  <VswServerPort>5089</VswServerPort>
  <AliyunLogEndpoint>cn-shenzhen.log.aliyuncs.com</AliyunLogEndpoint>
  <EIMSServerIp>120.25.161.113</EIMSServerIp>
  <FormalEnvironmentInt>0</FormalEnvironmentInt>
</SiteConfigInfo>