<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- APP客户端WEBAPI私钥 -->
    <add key="partner_2006808" value="BAS123!@#FD1A56K" />
    <add key="partner_20160929" value="GXS654!@HGD1A56C" />
    <!-- URL对接信息 -->
    <add key="WeixinToken" value="第三方URL对应的Token"/>
    <add key="WeixinEncodingAESKey" value="第三方URL对应的消息加解密密钥"/>
    <!-- 高级接口信息 -->
    <add key="WeixinAppId" value="wxe114537f747732cf"/>
    <add key="WeixinAppSecret" value="b62e263406117f9d20f33b1f36c2305b"/>
    <!-- Cache.Redis连接配置 -->
    <add key="Cache_Redis_Configuration" value="120.76.240.82:6379"/>
    <add key="Cache_Redis_PassWord" value="LcpcQjZ0Onzcexwm"/>

    <add key="log4net.Internal.Debug" value="true"/>
  </appSettings>
  <!--
    有关 .NET 4.5 的 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="RemoteOnly"></customErrors>
    <sessionState mode="Off"></sessionState>
    <httpRuntime maxRequestLength="51200" executionTimeout="3600" enableVersionHeader="false"  />
    <compilation debug="true" targetFramework="4.5" />
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <staticContent>
      <clientCache cacheControlCustom="public" />
    </staticContent>
  </system.webServer>
  <connectionStrings>
    <!--<add name="UnitoysEntities" connectionString="Data Source=rm-wz9puh1d34o57lc31o.sqlserver.rds.aliyuncs.com,3433;Initial Catalog=unitoys_test_2;User ID=unitoysapi;PassWord=Dahai!QAZ!@#;Persist Security Info=True" providerName="System.Data.SqlClient" />-->
    <add name="UnitoysEntities" connectionString="Data Source=.;Initial Catalog=Unitoys_YBYB3;User ID=sa;PassWord=8102581025;Persist Security Info=True" providerName="System.Data.SqlClient" />
    <!--<add name="VosBbConnection" connectionString="Server=120.24.96.214;Port=3306;Database=asterisk;Uid=unitoysapi;Pwd=Dahai1qaz!@#"/>-->
    <add name="VosBbConnection" connectionString="Server=120.25.161.113;Port=3306;Database=asterisk;Uid=unitoysapi;Pwd=Dahai1qaz!@#"/>
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="C7192DC5380945E7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <settings>
      <servicePointManager expect100Continue="false" />
    </settings>
  </system.net>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add
            name="textWriterTraceListener"
            type="System.Diagnostics.TextWriterTraceListener"
            initializeData="E:/Product/aixiaoqi-server/Unitoys.Web/Unitoys.Web/bin/log4net.txt" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
