@{
    ViewBag.Title = "选号管理";
    Layout = "../Shared/_Layout.cshtml";
}
<script src="~/Content/js/uploadify/jquery.uploadify.min.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="~/Content/js/uploadify/uploadify.css">
<div class="easyui-layout" fit="true">
    <div data-options="region:'north',border:false" style="height:90px">
        <div id="p" class="easyui-panel" title="高级查询" style="width:100%;height:90px;padding:10px;">
            <form id="ff" method="post">
                <span>省:</span>
                <input id="provinceName" type="text" class="easyui-textbox" style="height:25px;" />
                <span>市:</span>
                <input id="cityName" type="text" class="easyui-textbox" style="height:25px;" />
                <span>手机号码:</span>
                <input id="mobileNumber" type="text" class="easyui-textbox" style="height:25px;" />
                <span>用户手机:</span>
                <input id="userTel" type="text" class="easyui-textbox" style="height:25px;" />

                <a href="#" class="easyui-linkbutton " data-options="iconCls:'icon-search'" onclick="doSearch()">查询</a>
            </form>
        </div>
    </div>
    <div data-options="region:'center',border:false">
        <table id="grid" class="easyui-datagrid" title="众筹选号列表管理" style="width:100%;height:100%"
               data-options="rownumbers:true,fitColumns:true,singleSelect:true,url:'/Manage/ZCSelectionNumber/GetList',method:'get',toolbar:toolbar,pagination:true,onDblClickRow:onDbOpenDialog">
            <thead>
                <tr>
                    <th data-options="field:'MobileNumber',width:50">手机号码</th>
                    <th data-options="field:'ProvinceName',width:50">省</th>
                    <th data-options="field:'CityName',width:50">市</th>
                    <th data-options="field:'Price',width:50">价格</th>
                    <th data-options="field:'CreateDate',width:50,formatter:formatDateTimeInt">创建时间</th>
                    <th data-options="field:'Tel',width:50">用户</th>

                </tr>
            </thead>
        </table>
    </div>
</div>
<div id="dlg-edit" class="easyui-dialog" title="添加选号" style="width:500px;height:350px;padding:20px"
     data-options="
                    iconCls: 'icon-save',
                    closed:true,
                    buttons: [{
                        text:'保存',
                        iconCls:'icon-ok',
                        handler:saveData
                    }]
                ">
    <form method="post" id="Form" data-options="novalidate:true">
        <input type="hidden" value="" id="ID" name="ID" />
        <table cellpadding="5" class="tb_form">
            <tr>
                <td style="text-align:right" width="100">
                    省：
                </td>
                <td>
                    <input type="text" name="ProvinceName" id="ProvinceName" data-options="required:true" class="easyui-textbox" style="width: 220px;height:33px;" maxlength="50" /> &nbsp;
                </td>
            </tr>
            <tr>
                <td style="text-align:right">
                    市：
                </td>
                <td>
                    <input type="text" name="CityName" id="CityName" class="easyui-textbox" style="width: 220px;height:33px;" maxlength=50 /> &nbsp;
                </td>
            </tr>
            <tr>
                <td style="text-align:right">
                    手机号码：
                </td>
                <td>
                    <input type="text" name="MobileNumber" id="MobileNumber" class="easyui-textbox" style="width: 100px;height:33px;" maxlength=50 />
                </td>
            </tr>
            <tr>
                <td style="text-align:right">
                    价格：
                </td>
                <td>
                    <input type="text" name="Price" id="Price" class="easyui-textbox" style="width: 100px;height:33px;" maxlength=50 />
                </td>
            </tr>

        </table>
    </form>
</div>
<script type="text/javascript">
    var grid;
    var dlg_Edit;
    var dlg_Edit_form;

    var toolbar = [{
        text: '添加选号',
        iconCls: 'icon-add',
        handler: function () {
            dlg_Edit_form.form('clear');
            dlg_Edit.dialog('open');
            dlg_Edit.dialog('setTitle', '添加选号');
            dlg_Edit_form.url = '/Manage/ZCSelectionNumber/Add/';
        }
    }, {
        text: '删除选号',
        iconCls: 'icon-cut',
        handler: del
    }
    ];
    $(function () {
        grid = $("#grid").datagrid();
        dlg_Edit = $("#dlg-edit").dialog();
        dlg_Edit_form = dlg_Edit.find('form');
    })
    function onDbOpenDialog(index, rowData, value) {
        dlg_Edit.dialog('open');
        dlg_Edit_form.form('clear'); //清除之前面选中的表单
        dlg_Edit.dialog('setTitle', '您正在查看的是：' + rowData.MobileNumber + " 的信息");
        dlg_Edit_form.form('load', rowData); //加载到表单的控件上

        dlg_Edit_form.url = '/Manage/ZCSelectionNumber/Update';
    }

    //保存数据
    function saveData() {
        dlg_Edit_form.form('submit', {
            url: dlg_Edit_form.url,
            onSubmit: function () {
                return $(this).form('validate');
            },
            success: successCallback
        });
    }

    function doSearch() {
        $("#grid").datagrid('load', {
            provinceName: $("#provinceName").val() == null ? "" : $("#provinceName").val(),
            cityName: $("#cityName").val() == null ? "" : $("#cityName").val(),
            mobileNumber: $("#mobileNumber").val() == null ? "" : $("#mobileNumber").val(),
            userTel: $("#userTel").val() == null ? "" : $("#userTel").val(),
            //createStartDate: $("input[name$='createStartDate']").val(),
            //createEndDate: $("input[name$='createEndDate']").val(),
        });
    }

    //删除数据
    function del() {
        var arr = getSelectedArr();
        if (arr.length > 0) {
            $.messager.confirm('提示信息', '您确认要删除选中的记录吗?', function (data) {
                if (data) {
                    $.ajax({
                        url: '/Manage/ZCSelectionNumber/Delete',
                        type: 'post',
                        data: "ID=" + getSelectedID(),
                        error: function () {
                            Msgalert('错误', '删除失败!', 'error');
                            grid.datagrid('clearSelections');
                        },
                        success: function (data) {
                            if (data.Success) {
                                Msgfade(arr.length + "条记录" + data.Msg); //提示消息
                                grid.datagrid('reload');
                                grid.datagrid('clearSelections'); //清除所有选中的元素
                            } else {
                                Msgalert('错误', data.Msg, 'error');
                            }
                        }
                    });
                }
            });
        } else {
            Msgshow('请先选择要删除的记录。');

        }
    }
</script>
