@{
    ViewBag.Title = "售后管理";
    Layout = "../Shared/_Layout.cshtml";
}
<script src="~/Content/js/uploadify/jquery.uploadify.min.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="~/Content/js/uploadify/uploadify.css">
<style>
    .afterSales_img {
        width: 200px;
        height: 200px;
    }
</style>
<div class="easyui-layout" fit="true">
    <div data-options="region:'north',border:false" style="height:90px">
        <div id="p" class="easyui-panel" title="高级查询" style="width:100%;height:90px;padding:10px;">
            <form id="ff" method="post">
                <span>姓名:</span>
                <input id="name" type="text" class="easyui-textbox" style="height:25px;" />
                <span>手机号或售后单号:</span>
                <input id="mobilePhoneAfterSalesNum" type="text" class="easyui-textbox" style="height:25px;" />
                <span>产品类型:</span>
                <select id="productModel" class="easyui-combobox" name="continents" style="width:200px;">
                    <option value="">-- 请选择 --</option>
                    <option value="0">手环</option>
                    <option value="1">双待王</option>
                </select>
                <span>创建时间:</span>
                <input id="createStartDate" type="text" class="easyui-datetimebox" name="createStartDate" data-options="showSeconds:false" style="height:25px;" />
                <span>-</span>
                <input id="createEndDate" type="text" class="easyui-datetimebox" name="createEndDate" data-options="showSeconds:false" style="height:25px;" />
                <a href="#" class="easyui-linkbutton " data-options="iconCls:'icon-search'" onclick="doSearch()">查询</a>
            </form>
        </div>
    </div>
    <div data-options="region:'center',border:false">
        <table id="grid" class="easyui-datagrid" title="售后列表管理" style="width:100%;height:100%"
               data-options="rownumbers:true,fitColumns:true,singleSelect:true,url:'/Manage/AfterSales/GetList',method:'get',pagination:true,onDblClickRow:onDbOpenDialog">
            <thead>
                <tr>
                    <th data-options="field:'AfterSalesNum',width:100">单号</th>
                    <th data-options="field:'BuyDate',width:100">购买时间</th>
                    <th data-options="field:'CreateDate',width:100">提交时间</th>@*,formatter:formatDateTimeInt*@
                    <th data-options="field:'ProductModel',width:60,formatter:formatProductModel">产品类型</th>
                    <th data-options="field:'Status',width:60,formatter:formatStatus">状态</th>
                    <th data-options="field:'Contact',width:60">联系人</th>
                    <th data-options="field:'MobilePhone',width:60">手机号码</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<div id="dlg-edit" class="easyui-dialog" title="添加售后" style="width:500px;height:330px;padding:20px"
     data-options="
                iconCls: 'icon-save',
                closed:true,
                buttons: [{
                    text:'保存',
                    iconCls:'icon-ok',
                    handler:saveData
                }]
            ">
    <form method="post" id="Form" data-options="novalidate:true">
        <input type="hidden" value="" id="ID" name="ID" />
        <table cellpadding="5" class="tb_form">

            <tr>
                <td style="text-align:right" width="100">
                    单号：
                </td>
                <td>
                    <input type="text" name="AfterSalesNum" id="AfterSalesNum" class="easyui-textbox" style="width: 200px;height:33px;" maxlength="50" disabled /> &nbsp;
                </td>
            </tr>
            <tr>
                <td style="text-align:right" width="100">
                    提交时间：
                </td>
                <td>
                    <input type="text" name="CreateDate" id="CreateDate" class="easyui-textbox" style="width: 200px;height:33px;" maxlength="50" disabled /> &nbsp;
                </td>
            </tr>
            <tr>
                <td style="text-align:right">
                    联系人：
                </td>
                <td>
                    <input type="text" name="Contact" id="Contact" class="easyui-textbox" style="width: 200px; height: 33px;" maxlength=50 disabled />
                </td>
            </tr>
            <tr>
                <td style="text-align:right">
                    手机号码：
                </td>
                <td>
                    <input type="text" name="MobilePhone" id="MobilePhone" class="easyui-textbox" style="width: 200px; height: 33px;" maxlength=50 disabled />
                </td>
            </tr>
            <tr>
                <td style="text-align:right">
                    联系地址：
                </td>
                <td>
                    <input type="text" name="Address" id="Address" class="easyui-textbox" style="width: 200px; height: 33px;" maxlength=50 disabled />
                </td>
            </tr>
            <tr>
                <td style="text-align:right">
                    产品类型：
                </td>
                <td>
                    @*<input type="text" name="ProductModel" id="ProductModel" class="easyui-textbox" style="width: 200px; height: 33px;" maxlength=50 disabled />*@
                    <select disabled id="ProductModel" name="ProductModel" class="easyui-combobox" style="width: 200px">
                        <option value="1">双待王</option>
                        <option value="0">手环</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="text-align:right">
                    问题描述：
                </td>
                <td>
                    <textarea name="ProblemDescr" id="ProblemDescr" class="easyui-textbox" style="width: 200px; height: 99px;" maxlength=50 disabled></textarea>
                </td>
            </tr>
            <tr>
                <td style="text-align:right">
                    故障图片：
                </td>
                <td>
                    <img name="Pic1" id="Pic1" class="afterSales_img" />
                    <img name="Pic2" id="Pic2" class="afterSales_img" />
                    <img name="Pic3" id="Pic3" class="afterSales_img" />
                    <img name="Pic4" id="Pic4" class="afterSales_img" />
                    <img name="Pic5" id="Pic5" class="afterSales_img" />
                </td>
                @*<td style="text-align:right">
                        <img name="Pic2" id="Pic2" class="afterSales_img" />
                    </td>
                    <td style="text-align:right">
                        <img name="Pic3" id="Pic3" class="afterSales_img" />
                    </td>
                    <td style="text-align:right">
                        <img name="Pic4" id="Pic4" class="afterSales_img" />
                    </td>
                    <td style="text-align:right">
                        <img name="Pic5" id="Pic5" class="afterSales_img" />
                    </td>*@
            </tr>
            <tr>
                <td style="text-align:right">
                    状态：
                </td>
                <td>
                    <select id="Status" name="Status" class="easyui-combobox" style="width:100px">
                        <option disabled="disabled" value="0">待审核</option>
                        <option value="1">审核通过</option>
                        <option value="2">审核不通过</option>
                        <option disabled="disabled" value="3">已取消</option>
                        <option value="4">收到快递</option>
                        <option value="5">回寄中</option>
                        <option value="6">完成</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="text-align:right">
                    回寄快递单号：
                </td>
                <td>
                    <input type="text" name="TrackingNO" id="TrackingNO" class="easyui-textbox" style="width: 100px;height:33px;" maxlength=50 />
                </td>
            </tr>
            <tr>
                <td style="text-align:right">
                    快递公司：
                </td>
                <td>
                    <input type="text" name="ExpressCompany" id="ExpressCompany" class="easyui-textbox" style="width: 100px;height:33px;" maxlength=50 />
                </td>
            </tr>
            <tr>
                <td style="text-align:right">
                    审核备注：
                </td>
                <td>
                    <input type="text" name="AuditRemark" id="AuditRemark" class="easyui-textbox" style="width: 100px;height:33px;" maxlength=50 />
                </td>
            </tr>
        </table>
    </form>
</div>
<script type="text/javascript">
    var grid;
    var dlg_Edit;
    var dlg_Edit_form;

    //var toolbar = [{
    //    text: '添加售后',
    //    iconCls: 'icon-add',
    //    handler: function () {
    //        dlg_Edit_form.form('clear');
    //        dlg_Edit.dialog('open');
    //        dlg_Edit.dialog('setTitle', '添加售后');
    //        dlg_Edit_form.url = '/Manage/AfterSales/Add/';
    //        $("#j_UploadResult").html("");
    //    }
    //}, {
    //    text: '删除',
    //    iconCls: 'icon-cancel',
    //    handler: del
    //}];

    //function del() {
    //    var arr = getSelectedArr();
    //    if (arr.length > 0) {
    //        $.messager.confirm('提示信息', '您确认要删除选中的记录吗?', function (data) {
    //            if (data) {
    //                $.ajax({
    //                    url: '/Manage/AfterSales/Delete',
    //                    type: 'post',
    //                    data: "ID=" + getSelectedID(),
    //                    error: function () {
    //                        Msgalert('错误', '删除失败!', 'error');
    //                        grid.datagrid('clearSelections');
    //                    },
    //                    success: function (data) {
    //                        if (data.Success) {
    //                            Msgfade(arr.length + "条记录" + data.Msg); //提示消息
    //                            grid.datagrid('reload');
    //                            grid.datagrid('clearSelections'); //清除所有选中的元素
    //                        } else {
    //                            Msgalert('错误', data.Msg, 'error');
    //                        }
    //                    }
    //                });
    //            }
    //        });
    //    } else {
    //        Msgshow('请先选择要删除的记录。');
    //    }
    //}
    function formatProductModel(value, rec, index) {
        if (value == 0) {
            return "手环";
        }
        if (value == 1) {
            return "双待王";
        }
        return value;
    }
    function formatStatus(value, rec, index) {
        if (value == 0) {
            return "待审核";
        }
        if (value == 1) {
            return "审核通过";
        }
        if (value == 2) {
            return "审核不通过";
        }
        if (value == 3) {
            return "已取消";
        }
        if (value == 4) {
            return "收到快递";
        }
        if (value == 5) {
            return "回寄中";
        }
        if (value == 6) {
            return "完成";
        }
        return value;
    }
    function doSearch() {
        $("#grid").datagrid('load', {
            name: $("#name").val() == null ? "" : $("#name").val(),
            mobilePhoneAfterSalesNum: $("#mobilePhoneAfterSalesNum").val() == null ? "" : $("#mobilePhoneAfterSalesNum").val(),
            productModel: $("#productModel").combobox("getValue"),
            createStartDate: $("input[name$='createStartDate']").val(),
            createEndDate: $("input[name$='createEndDate']").val(),
        });
    }
    $(function () {
        grid = $("#grid").datagrid();
        dlg_Edit = $("#dlg-edit").dialog();
        dlg_Edit_form = dlg_Edit.find('form');
    })
    function onDbOpenDialog(index, rowData, value) {
        dlg_Edit.dialog('open');
        dlg_Edit_form.form('clear'); //清除之前面选中的表单
        dlg_Edit.dialog('setTitle', '您正在查看的是：' + rowData.Contact + "的售后信息");
        dlg_Edit_form.form('load', rowData); //加载到表单的控件上
        dlg_Edit_form.url = '/Manage/AfterSales/Update';
        $("#j_UploadResult").html("");

        $('.afterSales_img').show();
        $('#Pic1').attr('src', rowData.Pic1);
        $('#Pic2').attr('src', rowData.Pic2);
        $('#Pic3').attr('src', rowData.Pic3);
        $('#Pic4').attr('src', rowData.Pic4);
        $('#Pic5').attr('src', rowData.Pic5);
    }
    //保存数据
    function saveData() {
        dlg_Edit_form.form('submit', {
            url: dlg_Edit_form.url,
            onSubmit: function () {
                return $(this).form('validate');
            },
            success: successCallback
        });
    }

    $('.afterSales_img').error(function () {
        $(this).hide();
    })
</script>
