@{
    ViewBag.Title = "Index";
    Layout = "../Shared/_Layout.cshtml";
}
<div class="easyui-layout" fit="true">
    <div data-options="region:'north',border:false" style="height:110px">
        <div id="p" class="easyui-panel" title="高级查询" style="width:100%;height:110px;padding:10px;">
            <form id="ff" method="post">
                <span>订单号:</span>
                <input id="orderNum" type="text" class="easyui-textbox" style="height:25px;" />
                <span>手机号码:</span>
                <input id="tel" type="text" class="easyui-textbox" style="height:25px;" />
                <span>套餐名:</span>
                <input id="packageName" type="text" class="easyui-textbox" style="height:25px;" />
                <span>付款状态:</span>
                <select id="payStatus" class="easyui-combobox" name="payStatus" style="width:200px;">
                    <option value="">-- 请选择 --</option>
                    <option value="0">未付款</option>
                    <option value="1">已付款</option>
                    <option value="-1">异常付款</option>

                </select>
                <span>订单状态:</span>
                <select id="orderStatus" class="easyui-combobox" name="orderStatus" style="width:200px;">
                    <option value="">-- 请选择 --</option>
                    <option value="0">未激活</option>
                    <option value="1">正在使用</option>
                    <option value="2">已过期</option>
                    <option value="3">已取消</option>
                    <option value="4">激活失败</option>
                </select>
                <a href="#" class="easyui-linkbutton " data-options="iconCls:'icon-search'" onclick="doSearch()">查询</a>
            </form>
        </div>
    </div>
    <div data-options="region:'center',border:false">
        <table id="grid" class="easyui-datagrid" title="订单管理" style="width:100%;height:100%"
               data-options="rownumbers:true,fitColumns:true,singleSelect:true,url:'/Manage/Order/GetOrders',method:'get',toolbar:toolbar,pagination:true">
            <thead>
                <tr>
                    <th data-options="field:'OrderNum',width:115">订单号</th>
                    <th data-options="field:'OrderDate',width:80,formatter:formatDateTimeInt">订单日期</th>
                    <th data-options="field:'Tel',width:60">手机号码</th>
                    @*<th data-options="field:'PackageId',width:160">套餐ID</th>*@
                    <th data-options="field:'PackageName',width:80">套餐名称</th>
                    <th data-options="field:'CallMinutes',width:50">套餐通话分钟</th>
                    <th data-options="field:'RemainingCallMinutes',width:50">剩余通话分钟</th>
                    <th data-options="field:'Quantity',width:40">订购数量</th>
                    <th data-options="field:'UnitPrice',width:35">单价</th>
                    <th data-options="field:'PaymentMethod',width:40,formatter:formatPaymentMethod">支付方式</th>
                    <th data-options="field:'PayDate',width:80,formatter:formatDateTimeInt">付款日期</th>
                    <th data-options="field:'EffectiveDate',width:50,formatter:formatDateTimeInt">生效日期</th>
                    <th data-options="field:'ActivationDate',width:80,formatter:formatDateTimeInt">激活时间</th>
                    <th data-options="field:'PayStatus',width:35,formatter:formatPayStatus">付款状态</th>
                    <th data-options="field:'OrderStatus',width:35,formatter:formatOrderStatus">订单状态</th>
                    <th data-options="field:'Remark',width:60">备注</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    var grid;
    var toolbar = [{
        text: '已付款',
        iconCls: 'icon-ok',
        handler: setPayStatus
    }];
    function formatPaymentMethod(value, rec, index) {
        if (value == 1) {
            return "支付宝";
        }
        if (value == 2) {
            return "微信";
        }
        if (value == 3) {
            return "余额";
        }
        if (value == 4) {
            return "官方赠送";
        }
        return value;
    }
    function formatPayStatus(value, rec, index) {
        if (value == 0) {
            return "未付款";
        }
        if (value == 1) {
            return "已付款";
        }
        if (value == -1) {
            return "异常付款";
        }
        return "未识别的付款状态";
    }

    function formatOrderStatus(value, rec, index) {
        if (value == 0) {
            return "未激活";
        }
        else if (value == 1) {
            return "正在使用";
        }
        else if (value == 2) {
            return "已过期";
        }
        else if (value == 3) {
            return "已取消";
        }
        else if (value == 4) {
            return "激活失败";
        }
        return "未识别的订单状态";
    }
    $(function () {
        grid = $("#grid").datagrid();
    })
    function doSearch() {
        $("#grid").datagrid('load', {
            tel: $("#tel").val(),
            packageName: $("#packageName").val(),
            payStatus: $("#payStatus").combobox("getValue"),
            orderStatus: $("#orderStatus").combobox("getValue"),
            orderNum: $("#orderNum").val(),
        });
    }
    //设置付款状态
    function setPayStatus() {
        var arr = getSelectedArr();
        if (arr.length > 0) {
            $.messager.confirm('提示信息', '您确认选中的订单已付款吗?', function (data) {
                if (data) {
                    $.ajax({
                        url: '/Manage/Order/SetPayStatus',
                        type: 'post',
                        data: "ID=" + getSelectedID(),
                        error: function () {
                            Msgalert('错误', '设置失败!', 'error');
                            grid.datagrid('clearSelections');
                        },
                        success: function (data) {
                            if (data.Success) {
                                Msgfade(arr.length + "条记录" + data.Msg); //提示消息
                                grid.datagrid('reload');
                                grid.datagrid('clearSelections'); //清除所有选中的元素
                            } else {
                                Msgalert('错误', data.Msg, 'error');
                            }
                        }
                    });
                }
            });
        } else {
            Msgshow('请先选择要删除的记录。');

        }
    }
</script>
