@{
    ViewBag.Title = "OrderByZC管理";
    Layout = "../Shared/_Layout.cshtml";
}
<script src="~/Content/js/uploadify/jquery.uploadify.min.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="~/Content/js/uploadify/uploadify.css">
<div class="easyui-layout" fit="true">
    <div data-options="region:'north',border:false" style="height:90px">
        <div id="p" class="easyui-panel" title="高级查询" style="width:100%;height:90px;padding:10px;">
            <form id="ff" method="post">
                <span>订单号:</span>
                <input id="orderNum" type="text" class="easyui-textbox" style="height:25px;" />
                <span>收货姓名:</span>
                <input id="name" type="text" class="easyui-textbox" style="height:25px;" />
                <span>联系电话:</span>
                <input id="callPhone" type="text" class="easyui-textbox" style="height:25px;" />
                <span>地址:</span>
                <input id="address" type="text" class="easyui-textbox" style="height:25px;" />
                <span>付款状态:</span>
                <select id="payStatus" class="easyui-combobox" name="payStatus" style="width:200px;">
                    <option value="">-- 请选择 --</option>
                    <option value="0">未付款</option>
                    <option value="1">已付款</option>
                    <option value="-1">异常付款</option>
                </select>
                @*<span>订单状态:</span>
                <select id="orderStatus" class="easyui-combobox" name="orderStatus" style="width:200px;">
                    <option value="">-- 请选择 --</option>
                    <option value="0">未激活</option>
                    <option value="1">正在使用</option>
                    <option value="2">已过期</option>
                    <option value="3">已取消</option>
                    <option value="4">激活失败</option>
                </select>*@
                <a href="#" class="easyui-linkbutton " data-options="iconCls:'icon-search'" onclick="doSearch()">查询</a>
            </form>
        </div>
    </div>
    <div data-options="region:'center',border:false">
        <table id="grid" class="easyui-datagrid" title="众筹订单列表管理" style="width:100%;height:100%"
               data-options="rownumbers:true,fitColumns:true,singleSelect:true,url:'/Manage/OrderByZC/GetList',method:'get',toolbar:toolbar,pagination:true,onDblClickRow:onDbOpenDialog">
            <thead>
                <tr>
                    <th data-options="field:'OrderByZCNum',width:60">订单号</th>
                    <th data-options="field:'OrderDate',width:60,formatter:formatDateTimeInt">订单日期</th>
                    <th data-options="field:'Tel',width:60">用户手机</th>
                    <th data-options="field:'Quantity',width:40">订购数量</th>
                    <th data-options="field:'UnitPrice',width:35">单价</th>
                    <th data-options="field:'TotalPrice',width:35">总价</th>
                    <th data-options="field:'Name',width:35">收货姓名</th>
                    <th data-options="field:'CallPhone',width:35">联系电话</th>
                    <th data-options="field:'Address',width:120">地址</th>
                    <th data-options="field:'GiftProperties',width:35">回报属性</th>
                    <th data-options="field:'Remark',width:60">备注</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<div id="dlg-edit" class="easyui-dialog" title="添加众筹订单" style="width:500px;height:350px;padding:20px"
     data-options="
                    iconCls: 'icon-save',
                    closed:true,
                    buttons: [{
                        text:'保存',
                        iconCls:'icon-ok',
                        handler:saveData
                    }]
                ">
    <form method="post" id="Form" data-options="novalidate:true">
        <input type="hidden" value="" id="ID" name="ID" />
        <table cellpadding="5" class="tb_form">
            <tr>
                <td style="text-align:right" width="100">
                    订单号：
                </td>
                <td>
                    <input type="text" name="OrderByZCNum" id="OrderByZCNum" data-options="required:true" class="easyui-textbox" style="width: 220px;height:33px;" maxlength="50" /> &nbsp;
                </td>
            </tr>
            <tr>
                <td style="text-align:right">
                    订单日期：
                </td>
                <td>
                    <input type="text" name="OrderDate" id="OrderDate" class="easyui-textbox" style="width: 220px;height:33px;" maxlength=50 /> &nbsp;
                </td>
            </tr>
            <tr>
                <td style="text-align:right">
                    订购数量：
                </td>
                <td>
                    <input type="text" name="Quantity" id="Quantity" class="easyui-textbox" style="width: 100px;height:33px;" maxlength=50 />
                </td>
            </tr>
            <tr>
                <td style="text-align:right">
                    单价：
                </td>
                <td>
                    <input type="text" name="UnitPrice" id="UnitPrice" class="easyui-textbox" style="width: 100px;height:33px;" maxlength=50 />
                </td>
            </tr>
            <tr>
                <td style="text-align:right">
                    总价：
                </td>
                <td>
                    <input type="text" name="TotalPrice" id="TotalPrice" class="easyui-textbox" style="width: 100px;height:33px;" maxlength=50 />
                </td>
            </tr>
            <tr>
                <td style="text-align:right">
                    收货姓名：
                </td>
                <td>
                    <input type="text" name="Name" id="Name" class="easyui-textbox" style="width: 100px;height:33px;" maxlength=50 />
                </td>
            </tr>
            <tr>
                <td style="text-align:right">
                    联系电话：
                </td>
                <td>
                    <input type="text" name="CallPhone" id="CallPhone" class="easyui-textbox" style="width: 100px;height:33px;" maxlength=50 />
                </td>
            </tr>
            <tr>
                <td style="text-align:right">
                    地址：
                </td>
                <td>
                    <input type="text" name="Address" id="Address" class="easyui-textbox" style="width: 220px; height: 33px;" maxlength=50 />
                </td>
            </tr>
            <tr>
                <td style="text-align:right">
                    回报属性：
                </td>
                <td>
                    <input type="text" name="GiftProperties" id="GiftProperties" class="easyui-textbox" style="width: 220px; height: 33px;" maxlength=50 />
                </td>
            </tr>
            <tr>
                <td style="text-align:right">
                    备注：
                </td>
                <td>
                    <input type="text" name="Remark" id="Remark" class="easyui-textbox" style="width: 220px; height: 33px;" maxlength=50 />
                </td>
            </tr>
        </table>
    </form>
</div>
<script type="text/javascript">
    var grid;
    var dlg_Edit;
    var dlg_Edit_form;

    var toolbar = [{
        text: '添加众筹订单',
        iconCls: 'icon-add',
        handler: function () {
            dlg_Edit_form.form('clear');
            dlg_Edit.dialog('open');
            dlg_Edit.dialog('setTitle', '添加众筹订单');
            dlg_Edit_form.url = '/Manage/OrderByZC/Add/';
        }
    }, {
        text: '删除OrderByZC',
        iconCls: 'icon-cut',
        handler: del
    }
    ];
    $(function () {
        grid = $("#grid").datagrid();
        dlg_Edit = $("#dlg-edit").dialog();
        dlg_Edit_form = dlg_Edit.find('form');
    })
    function onDbOpenDialog(index, rowData, value) {
        dlg_Edit.dialog('open');
        dlg_Edit_form.form('clear'); //清除之前面选中的表单
        dlg_Edit.dialog('setTitle', '您正在查看的是：' + rowData.Title + " 的信息");
        dlg_Edit_form.form('load', rowData); //加载到表单的控件上

        dlg_Edit_form.url = '/Manage/OrderByZC/Update';
    }


    function formatPic(value, rec, index) {
        if (value != "") {
            return "<img height='100' src='" + value + "' />";
        }
        return value;
    }

    function formatUrl(value, rec, index) {
        if (value != "") {
            return "<a href='" + value + "' target='_blank' style='color:#7f99be'>查看" + value + "</a>";
        }
        return value;
    }

    //保存数据
    function saveData() {
        dlg_Edit_form.form('submit', {
            url: dlg_Edit_form.url,
            onSubmit: function () {
                return $(this).form('validate');
            },
            success: successCallback
        });
    }

    function doSearch() {
        $("#grid").datagrid('load', {
            tel: $("#tel").val(),
            orderNum: $("#orderNum").val(),
            callPhone: $("#callPhone").val(),
            address: $("#address").val(),
            payStatus: $("#payStatus").combobox("getValue"),
            name: $("#name").val(),
            //createStartDate: $("input[name$='createStartDate']").val(),
            //createEndDate: $("input[name$='createEndDate']").val(),
        });
    }

    //删除数据
    function del() {
        var arr = getSelectedArr();
        if (arr.length > 0) {
            $.messager.confirm('提示信息', '您确认要删除选中的记录吗?', function (data) {
                if (data) {
                    $.ajax({
                        url: '/Manage/OrderByZC/Delete',
                        type: 'post',
                        data: "ID=" + getSelectedID(),
                        error: function () {
                            Msgalert('错误', '删除失败!', 'error');
                            grid.datagrid('clearSelections');
                        },
                        success: function (data) {
                            if (data.Success) {
                                Msgfade(arr.length + "条记录" + data.Msg); //提示消息
                                grid.datagrid('reload');
                                grid.datagrid('clearSelections'); //清除所有选中的元素
                            } else {
                                Msgalert('错误', data.Msg, 'error');
                            }
                        }
                    });
                }
            });
        } else {
            Msgshow('请先选择要删除的记录。');

        }
    }
</script>
