@{
    ViewBag.Title = "套餐管理";
    Layout = "../Shared/_Layout.cshtml";
}
<script src="~/Content/js/uploadify/jquery.uploadify.min.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="~/Content/js/uploadify/uploadify.css">
<div class="easyui-layout" fit="true">
    <div data-options="region:'north',border:false" style="height:90px">
        <div id="p" class="easyui-panel" title="高级查询" style="width:100%;height:90px;padding:10px;">
            <form id="ff" method="post">
                <span>地区:</span>
                <select id="countryId" name="countryId" class="easyui-combobox" style="width:100px" data-options="
					            url:'/Manage/Country/GetSelectList',
					            method:'get',
					            valueField:'ID',
					            textField:'CountryName',
					            panelHeight:'auto'
			            "></select>
                <span>套餐:</span>
                <input id="packageName" type="text" class="easyui-textbox" style="height:25px;" />
                <span>运营商:</span>
                <input id="operators" type="text" class="easyui-textbox" style="height:25px;" />
                <span>套餐类型:</span>
                <select id="category" class="easyui-combobox" name="category" style="width:200px;">
                    <option value="">-- 请选择 --</option>
                    <option value="0">流量</option>
                    <option value="1">通话</option>
                    <option value="2">大王卡</option>
                    <option value="3">双卡双待</option>
                    <option value="4">免费领取</option>
                    <option value="5">省心服务</option>
                </select>
                <span>流量:</span>
                <select id="isCategoryFlow" class="easyui-combobox" name="isCategoryFlow" style="width:200px;">
                    <option value="">-- 请选择 --</option>
                    <option value="true">是</option>
                    <option value="false">否</option>
                </select>
                <span>通话:</span>
                <select id="isCategoryCall" class="easyui-combobox" name="isCategoryCall" style="width:200px;">
                    <option value="">-- 请选择 --</option>
                    <option value="true">是</option>
                    <option value="false">否</option>
                </select>
                <span>双卡双待:</span>
                <select id="isCategoryDualSimStandby" class="easyui-combobox" name="isCategoryDualSimStandby" style="width:200px;">
                    <option value="">-- 请选择 --</option>
                    <option value="true">是</option>
                    <option value="false">否</option>
                </select>
                <span>大王卡:</span>
                <select id="isCategoryKingCard" class="easyui-combobox" name="isCategoryKingCard" style="width:200px;">
                    <option value="">-- 请选择 --</option>
                    <option value="true">是</option>
                    <option value="false">否</option>
                </select>
                <a href="#" class="easyui-linkbutton " data-options="iconCls:'icon-search'" onclick="doSearch()">查询</a>
            </form>
        </div>
    </div>
    <div data-options="region:'center',border:false">
        <table id="grid" class="easyui-datagrid" title="套餐列表管理" style="width:100%;height:100%"
               data-options="rownumbers:true,fitColumns:true,singleSelect:true,url:'/Manage/Package/GetList',method:'get',toolbar:toolbar,pagination:true,onDblClickRow:onDbOpenDialog">
            <thead>
                <tr>
                    <th data-options="field:'PackageName',width:150">套餐</th>
                    <th data-options="field:'Price',width:50">价格</th>
                    <th data-options="field:'Flow',width:65">套餐包含的流量</th>
                    <th data-options="field:'CallMinutes',width:60">套餐通话分钟</th>
                    <th data-options="field:'Pic',width:120,formatter:formatPic">图片</th>
                    <th data-options="field:'LogoPic',width:120,formatter:formatPic">图片</th>
                    <th data-options="field:'Discount',width:40">折扣</th>
                    <th data-options="field:'ExpireDays',width:50">有效天数</th>
                    <th data-options="field:'Operators',width:45">运营商</th>
                    <th data-options="field:'CategoryDescr',width:50">类型</th>
                    <th data-options="field:'CountryName',width:50">所属国家</th>
                    <th data-options="field:'DisplayOrder',width:50">显示顺序</th>
                    <th data-options="field:'Lock4',width:50,formatter:formatLock,styler:stylerFun">状态</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<div id="dlg-edit" class="easyui-dialog" title="添加套餐" style="width:550px;height:450px;padding:20px"
     data-options="
                iconCls: 'icon-save',
                closed:true,
                buttons: [{
                    text:'保存',
                    iconCls:'icon-ok',
                    handler:saveData
                }]
            ">
    <form method="post" id="Form" data-options="novalidate:true">
        <input type="hidden" value="" id="ID" name="ID" />
        <table cellpadding="5" class="tb_form">
            <tr>
                <td style="text-align:right" width="100">
                    套餐标题：
                </td>
                <td>
                    <input type="text" name="PackageName" id="PackageName" class="easyui-textbox" style="width: 250px;height:33px;" maxlength="50" /> &nbsp;
                </td>
            </tr>
            <tr>
                <td style="text-align:right">
                    套餐原价（省心服务）：
                </td>
                <td>
                    <input type="text" name="OriginalPrice" id="OriginalPrice" class="easyui-textbox" style="width: 100px;height:33px;" maxlength=50 /> $
                </td>
            </tr>
            <tr>
                <td style="text-align:right">
                    套餐价格：
                </td>
                <td>
                    <input type="text" name="Price" id="Price" class="easyui-textbox" style="width: 100px;height:33px;" maxlength=50 /> $
                </td>
            </tr>
            <tr>
                <td style="text-align:right">
                    套餐总流量：
                </td>
                <td>
                    <input type="text" name="Flow" id="Flow" class="easyui-textbox" style="width: 100px;height:33px;" maxlength=50 /> MB
                </td>
            </tr>
            <tr>
                <td style="text-align:right">
                    套餐通话分钟：
                </td>
                <td>
                    <input type="text" name="CallMinutes" id="CallMinutes" class="easyui-textbox" style="width: 100px;height:33px;" maxlength=50 />
                </td>
            </tr>
            <tr>
                <td style="text-align:right">
                    图片：
                </td>
                <td>
                    <input type="hidden" name="Pic" id="Pic" maxlength=50 />
                    <input type="file" name="file_upload" id="file_upload" /> <div id="j_UploadResult"></div>
                    <script type="text/javascript">
                        $(function () {
                            $('#file_upload').uploadify({
                                'height': 25,
                                'width': 100,
                                'buttonText': '上传图片',
                                'swf': '/Content/js/uploadify/uploadify.swf',
                                'uploader': '/Manage/Home/UploadImgAsync',
                                'onUploadError': function (file, errorCode, errorMsg, errorString) {
                                    $("#j_UploadResult").html(errorString).css({ color: "#CC0033" });
                                },
                                'onUploadSuccess': function (file, data, response) {
                                    if (data == -1) {
                                        $("#j_UploadResult").html("请选择您要上传的文件！").css({ color: "#CC0033" });
                                    } else if (data == -2) {
                                        $("#j_UploadResult").html("上传图片格式不正确！").css({ color: "#CC0033" });
                                    } else if (data == -3) {
                                        $("#j_UploadResult").html("上传的图片超过5MB了!").css({ color: "#CC0033" });
                                    } else {
                                        $("#j_UploadResult").html("图片上传成功！").css({ color: "#006633" });
                                        $("#Pic").val(data);
                                    }

                                }
                            });
                        });
                    </script>
                </td>
            </tr>
            <tr>
                <td style="text-align:right">
                    Logo：
                </td>
                <td>
                    <input type="hidden" name="LogoPic" id="LogoPic" maxlength=50 />
                    <input type="file" name="file_uploadLogo" id="file_uploadLogo" /> <div id="j_UploadResultLogoPic"></div>
                    <script type="text/javascript">
                        $(function () {
                            $('#file_uploadLogo').uploadify({
                                'height': 25,
                                'width': 100,
                                'buttonText': '上传图片',
                                'swf': '/Content/js/uploadify/uploadify.swf',
                                'uploader': '/Manage/Home/UploadImgAsync',
                                'onUploadError': function (file, errorCode, errorMsg, errorString) {
                                    $("#j_UploadResultLogoPic").html(errorString).css({ color: "#CC0033" });
                                },
                                'onUploadSuccess': function (file, data, response) {
                                    if (data == -1) {
                                        $("#j_UploadResultLogoPic").html("请选择您要上传的文件！").css({ color: "#CC0033" });
                                    } else if (data == -2) {
                                        $("#j_UploadResultLogoPic").html("上传图片格式不正确！").css({ color: "#CC0033" });
                                    } else if (data == -3) {
                                        $("#j_UploadResultLogoPic").html("上传的图片超过5MB了!").css({ color: "#CC0033" });
                                    } else {
                                        $("#j_UploadResultLogoPic").html("图片上传成功！").css({ color: "#006633" });
                                        $("#LogoPic").val(data);
                                    }

                                }
                            });
                        });
                    </script>
                </td>
            </tr>
            <tr>
                <td style="text-align:right">
                    已领图片（免费领取）：
                </td>
                <td>
                    <input type="hidden" name="PicHaveed" id="PicHaveed" maxlength=50 />
                    <input type="file" name="file_uploadPicHaveed" id="file_uploadPicHaveed" /> <div id="j_UploadResultPicHaveed"></div>
                    <script type="text/javascript">
                        $(function () {
                            $('#file_uploadPicHaveed').uploadify({
                                'height': 25,
                                'width': 100,
                                'buttonText': '上传图片',
                                'swf': '/Content/js/uploadify/uploadify.swf',
                                'uploader': '/Manage/Home/UploadImgAsync',
                                'onUploadError': function (file, errorCode, errorMsg, errorString) {
                                    $("#j_UploadResultPicHaveed").html(errorString).css({ color: "#CC0033" });
                                },
                                'onUploadSuccess': function (file, data, response) {
                                    if (data == -1) {
                                        $("#j_UploadResultPicHaveed").html("请选择您要上传的文件！").css({ color: "#CC0033" });
                                    } else if (data == -2) {
                                        $("#j_UploadResultPicHaveed").html("上传图片格式不正确！").css({ color: "#CC0033" });
                                    } else if (data == -3) {
                                        $("#j_UploadResultPicHaveed").html("上传的图片超过5MB了!").css({ color: "#CC0033" });
                                    } else {
                                        $("#j_UploadResultPicHaveed").html("图片上传成功！").css({ color: "#006633" });
                                        $("#PicHaveed").val(data);
                                    }

                                }
                            });
                        });
                    </script>
                </td>
            </tr>
            <tr>
                <td style="text-align:right">
                    描述标题图（省心服务）：
                </td>
                <td>
                    <input type="hidden" name="DescTitlePic" id="DescTitlePic" maxlength=50 />
                    <input type="file" name="file_uploadDescTitlePic" id="file_uploadDescTitlePic" /> <div id="j_UploadResultDescTitlePic"></div>
                    <script type="text/javascript">
                        $(function () {
                            $('#file_uploadDescTitlePic').uploadify({
                                'height': 25,
                                'width': 100,
                                'buttonText': '上传图片',
                                'swf': '/Content/js/uploadify/uploadify.swf',
                                'uploader': '/Manage/Home/UploadImgAsync',
                                'onUploadError': function (file, errorCode, errorMsg, errorString) {
                                    $("#j_UploadResultDescTitlePic").html(errorString).css({ color: "#CC0033" });
                                },
                                'onUploadSuccess': function (file, data, response) {
                                    if (data == -1) {
                                        $("#j_UploadResultDescTitlePic").html("请选择您要上传的文件！").css({ color: "#CC0033" });
                                    } else if (data == -2) {
                                        $("#j_UploadResultDescTitlePic").html("上传图片格式不正确！").css({ color: "#CC0033" });
                                    } else if (data == -3) {
                                        $("#j_UploadResultDescTitlePic").html("上传的图片超过5MB了!").css({ color: "#CC0033" });
                                    } else {
                                        $("#j_UploadResultDescTitlePic").html("图片上传成功！").css({ color: "#006633" });
                                        $("#DescTitlePic").val(data);
                                    }

                                }
                            });
                        });
                    </script>
                </td>
            </tr>
            <tr>
                <td style="text-align:right">
                    描述图（省心服务）：
                </td>
                <td>
                    <input type="hidden" name="DescPic" id="DescPic" maxlength=50 />
                    <input type="file" name="file_uploadDescPic" id="file_uploadDescPic" /> <div id="j_UploadResultDescPic"></div>
                    <script type="text/javascript">
                        $(function () {
                            $('#file_uploadDescPic').uploadify({
                                'height': 25,
                                'width': 100,
                                'buttonText': '上传图片',
                                'swf': '/Content/js/uploadify/uploadify.swf',
                                'uploader': '/Manage/Home/UploadImgAsync',
                                'onUploadError': function (file, errorCode, errorMsg, errorString) {
                                    $("#j_UploadResultDescPic").html(errorString).css({ color: "#CC0033" });
                                },
                                'onUploadSuccess': function (file, data, response) {
                                    if (data == -1) {
                                        $("#j_UploadResultDescPic").html("请选择您要上传的文件！").css({ color: "#CC0033" });
                                    } else if (data == -2) {
                                        $("#j_UploadResultDescPic").html("上传图片格式不正确！").css({ color: "#CC0033" });
                                    } else if (data == -3) {
                                        $("#j_UploadResultDescPic").html("上传的图片超过5MB了!").css({ color: "#CC0033" });
                                    } else {
                                        $("#j_UploadResultDescPic").html("图片上传成功！").css({ color: "#006633" });
                                        $("#DescPic").val(data);
                                    }

                                }
                            });
                        });
                    </script>
                </td>
            </tr>
            <tr>
                <td style="text-align:right">
                    有效天数：
                </td>
                <td>
                    <input type="text" name="ExpireDays" id="ExpireDays" class="easyui-textbox" style="width: 100px;height:33px;" maxlength=50 /> &nbsp;
                </td>
            </tr>
            <tr>
                <td style="text-align:right" width="100">
                    套餐编号：
                </td>
                <td>
                    <input type="text" name="PackageNum" id="PackageNum" class="easyui-textbox" style="width: 250px;height:33px;" maxlength="50" /> &nbsp;
                </td>
            </tr>
            <tr>
                <td style="text-align:right" width="100">
                    运营商：
                </td>
                <td>
                    <input type="text" name="Operators" id="Operators" class="easyui-textbox" style="width: 250px;height:33px;" maxlength="50" /> &nbsp;
                </td>
            </tr>
            <tr>
                <td style="text-align:right">
                    是否能购买多个：
                </td>
                <td>
                    @*<input type="checkbox" name="Rate" id="Rate" class="easyui-checkbox" style="width: 100px;height:33px;" maxlength=50 />*@
                    <input type="checkbox" id="IsCanBuyMultiple" name="IsCanBuyMultiple" value="true" />
                </td>
            </tr>
            <tr>
                <td style="text-align:right">
                    是否支持4G：
                </td>
                <td>
                    @*<input type="checkbox" name="Rate" id="Rate" class="easyui-checkbox" style="width: 100px;height:33px;" maxlength=50 />*@
                    <input type="checkbox" id="IsSupport4G" name="IsSupport4G" value="true" />
                </td>
            </tr>
            <tr>
                <td style="text-align:right">
                    是否需要VPN：
                </td>
                <td>
                    @*<input type="checkbox" name="Rate" id="Rate" class="easyui-checkbox" style="width: 100px;height:33px;" maxlength=50 />*@
                    <input type="checkbox" id="IsApn" name="IsApn" value="true" />
                </td>
            </tr>
            <tr>
                <td style="text-align:right" width="100">
                    Apn信息：
                </td>
                <td>
                    <input type="text" name="ApnName" id="ApnName" class="easyui-textbox" style="width: 250px;height:33px;" maxlength="50" /> &nbsp;
                </td>
            </tr>
            <tr>
                <td style="text-align:right">
                    类型：
                </td>
                <td>
                    <select id="Category" name="Category" class="easyui-combobox" style="width:100px">
                        <option value="0" selected="selected">流量</option>
                        <option value="1">通话</option>
                        <option value="2">大王卡</option>
                        <option value="3">双卡双待</option>
                        <option value="4">免费领取</option>
                        <option value="5">省心服务</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="text-align:right">
                    包括类型：
                </td>
                <td>
                    <input type="checkbox" id="IsCategoryFlow" name="IsCategoryFlow" value="true" />流量
                    <input type="checkbox" id="IsCategoryCall" name="IsCategoryCall" value="true" />通话
                    <input type="checkbox" id="IsCategoryDualSimStandby" name="IsCategoryDualSimStandby" value="true" />双卡双待
                    <input type="checkbox" id="IsCategoryKingCard" name="IsCategoryKingCard" value="true" />大王卡
                </td>
            </tr>
            <tr>
                <td style="text-align:right">
                    所属国家：
                </td>
                <td>
                    <select id="CountryId" name="CountryId" class="easyui-combobox" style="width:100px" data-options="
					            url:'/Manage/Country/GetSelectList',
					            method:'get',
					            valueField:'ID',
					            textField:'CountryName',
					            panelHeight:'auto'
			            "></select>
                </td>
            </tr>
            <tr>
                <td style="text-align:right">
                    显示顺序：
                </td>
                <td>
                    <input type="text" name="DisplayOrder" id="DisplayOrder" class="easyui-textbox" style="width: 100px;height:33px;" maxlength=50 />
                </td>
            </tr>
            <tr>
                <td style="text-align:right" width="100">
                    特色：
                </td>
                <td>
                    <input name="Features" id="Features" class="easyui-textbox" data-options="multiline:true" style="width: 250px; height: 100px">
                </td>
            </tr>
            <tr>
                <td style="text-align:right" width="100">
                    详情：
                </td>
                <td>
                    <input name="Details" id="Details" class="easyui-textbox" data-options="multiline:true" style="width: 250px; height: 100px">
                </td>
            </tr>
            <tr>
                <td style="text-align:right" width="100">
                    使用简介：
                </td>
                <td>
                    <input name="UseDescr" id="UseDescr" class="easyui-textbox" data-options="multiline:true" style="width: 250px; height: 100px">
                </td>
            </tr>
        </table>
    </form>
</div>
<script type="text/javascript">
    var grid;
    var dlg_Edit;
    var dlg_Edit_form;

    var toolbar = [{
        text: '添加套餐',
        iconCls: 'icon-add',
        handler: function () {
            dlg_Edit_form.form('clear');
            dlg_Edit.dialog('open');
            dlg_Edit.dialog('setTitle', '添加套餐');
            dlg_Edit_form.url = '/Manage/Package/Add/';
        }
    }, {
        text: '下架套餐',
        iconCls: 'icon-lock',
        handler: LockFun
    }, {
        text: '上架套餐',
        iconCls: 'icon-ok',
        handler: uLockFun
    }, {
        text: '删除套餐',
        iconCls: 'icon-cut',
        handler: del
    }

    ];
    function LockFun() {
        var arr = getSelectedArr();
        if (arr.length > 0) {
            $.messager.confirm('提示信息', '您确认要下架选中的套餐吗?', function (data) {
                if (data) {
                    $.ajax({
                        url: '/Manage/Package/Lock',
                        type: 'post',
                        data: "ID=" + getSelectedID(),
                        error: function () {
                            Msgalert('错误', '下架失败!', 'error');
                            grid.datagrid('clearSelections');
                        },
                        success: function (data) {
                            if (data.Success) {
                                Msgfade(arr.length + "条记录" + data.Msg); //提示消息
                                grid.datagrid('reload');
                                grid.datagrid('clearSelections'); //清除所有选中的元素
                            } else {
                                Msgalert('错误', data.Msg, 'error');
                            }
                        }
                    });
                }
            });
        } else {
            Msgshow('请先选择要下架的套餐。');

        }
    }
    function uLockFun() {
        var arr = getSelectedArr();
        if (arr.length > 0) {
            $.messager.confirm('提示信息', '您确认要上架选中的套餐吗?', function (data) {
                if (data) {
                    $.ajax({
                        url: '/Manage/Package/uLock',
                        type: 'post',
                        data: "ID=" + getSelectedID(),
                        error: function () {
                            Msgalert('错误', '上架失败!', 'error');
                            grid.datagrid('clearSelections');
                        },
                        success: function (data) {
                            if (data.Success) {
                                Msgfade(arr.length + "条记录" + data.Msg); //提示消息
                                grid.datagrid('reload');
                                grid.datagrid('clearSelections'); //清除所有选中的元素
                            } else {
                                Msgalert('错误', data.Msg, 'error');
                            }
                        }
                    });
                }
            });
        } else {
            Msgshow('请先选择要上架的套餐。');

        }
    }
    function formatPic(value, rec, index) {
        if (value != "") {
            return "<img height='100' src='" + value + "' />";
        }
        return value;
    }
    function stylerFun(value, row, index) {
        if (value == 1) {
            return 'background-color:#ffee00;color:red;';
        }
    }
    function formatLock(value, rec, index) {
        if (value == 0) {
            return "正常";
        }
        if (value == 1) {
            return "<span style='color:#ff0000'>已下架</span>";
        }
        return value;
    }

    $(function () {
        grid = $("#grid").datagrid();
        dlg_Edit = $("#dlg-edit").dialog();
        dlg_Edit_form = dlg_Edit.find('form');
    })
    function onDbOpenDialog(index, rowData, value) {
        dlg_Edit.dialog('open');
        dlg_Edit_form.form('clear'); //清除之前面选中的表单
        dlg_Edit.dialog('setTitle', '您正在查看的是：' + rowData.PackageName + " 的信息");
        dlg_Edit_form.form('load', rowData); //加载到表单的控件上

        dlg_Edit_form.url = '/Manage/Package/Update';
    }
    //保存数据
    function saveData() {
        dlg_Edit_form.form('submit', {
            url: dlg_Edit_form.url,
            onSubmit: function () {
                return $(this).form('validate');
            },
            success: successCallback
        });
    }

    function doSearch() {
        $("#grid").datagrid('load', {
            packageName: $("#packageName").val() == null ? "" : $("#packageName").val(),
            operators: $("#operators").val() == null ? "" : $("#operators").val(),
            countryId: $("#countryId").combobox("getValue"),
            isCategoryFlow: $("#isCategoryFlow").combobox("getValue"),
            isCategoryCall: $("#isCategoryCall").combobox("getValue"),
            isCategoryDualSimStandby: $("#isCategoryDualSimStandby").combobox("getValue"),
            isCategoryKingCard: $("#isCategoryKingCard").combobox("getValue"),
            category: $("#category").combobox("getValue")
        });
    }

    //删除数据
    function del() {
        var arr = getSelectedArr();
        if (arr.length > 0) {
            $.messager.confirm('提示信息', '您确认要删除选中的记录吗?', function (data) {
                if (data) {
                    $.ajax({
                        url: '/Manage/Package/Delete',
                        type: 'post',
                        data: "ID=" + getSelectedID(),
                        error: function () {
                            Msgalert('错误', '删除失败!', 'error');
                            grid.datagrid('clearSelections');
                        },
                        success: function (data) {
                            if (data.Success) {
                                Msgfade(arr.length + "条记录" + data.Msg); //提示消息
                                grid.datagrid('reload');
                                grid.datagrid('clearSelections'); //清除所有选中的元素
                            } else {
                                Msgalert('错误', data.Msg, 'error');
                            }
                        }
                    });
                }
            });
        } else {
            Msgshow('请先选择要删除的记录。');

        }
    }
</script>
