@{
    ViewBag.Title = "用户日志管理";
    Layout = "../Shared/_Layout.cshtml";
}
<script src="~/Content/js/uploadify/jquery.uploadify.min.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="~/Content/js/uploadify/uploadify.css">
<div class="easyui-layout" fit="true">
    <div data-options="region:'north',border:false" style="height:90px">
        <div id="p" class="easyui-panel" title="高级查询" style="width:100%;height:90px;padding:10px;">
            <form id="ff" method="post">
                <span>用户:</span>
                <input id="tel" type="text" class="easyui-textbox" style="height:25px;" />
                <span>创建时间:</span>
                <input id="createStartDate" type="text" class="easyui-datetimebox" name="createStartDate" data-options="showSeconds:false" style="height:25px;" />
                <span>-</span>
                <input id="createEndDate" type="text" class="easyui-datetimebox" name="createEndDate" data-options="showSeconds:false" style="height:25px;" />
                <a href="#" class="easyui-linkbutton " data-options="iconCls:'icon-search'" onclick="doSearch()">查询</a>
            </form>
        </div>
    </div>
    <div data-options="region:'center',border:false">
        <table id="grid" class="easyui-datagrid" title="用户日志列表管理" style="width:100%;height:100%"
               data-options="rownumbers:true,fitColumns:true,singleSelect:true,url:'/Manage/UserLog/GetList',method:'get',toolbar:toolbar,pagination:true">
            <thead>
                <tr>
                    <th data-options="field:'Tel',width:100">用户</th>
                    <th data-options="field:'LogFileUrl',width:100,formatter:formatLogFileUrl">日志</th>
                    <th data-options="field:'LogFileSize',width:100,formatter:formatLogFileSize">日志大小</th>
                    <th data-options="field:'CreateDate',width:100,formatter:formatDateTimeInt">上传时间</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@*<div id="dlg-edit" class="easyui-dialog" title="添加用户日志" style="width:500px;height:330px;padding:20px"
         data-options="
                    iconCls: 'icon-save',
                    closed:true,
                    buttons: [{
                        text:'保存',
                        iconCls:'icon-ok',
                        handler:saveData
                    }]
                ">
        <form method="post" id="Form" data-options="novalidate:true">
            <input type="hidden" value="" id="ID" name="ID" />
            <table cellpadding="5" class="tb_form">
                <tr>
                    <td style="text-align:right" width="100">
                        姓名：
                    </td>
                    <td>
                        <input type="text" disabled="disabled" name="Name" id="Name" class="easyui-textbox" style="width: 200px;height:33px;" maxlength="50" /> &nbsp;
                    </td>
                </tr>
                <tr>
                    <td style="text-align:right" width="100">
                        邮箱：
                    </td>
                    <td>
                        <input type="text" disabled="disabled" name="MailAddress" id="MailAddress" class="easyui-textbox" style="width: 200px;height:33px;" maxlength="50" /> &nbsp;
                    </td>
                </tr>
                <tr>
                    <td style="text-align:right">
                        主题：
                    </td>
                    <td>
                        <input type="text" disabled="disabled" name="Subject" id="Subject" class="easyui-textbox" style="width: 100px;height:33px;" maxlength=50 /> $/MB
                    </td>
                </tr>
                <tr>
                    <td style="text-align:right">
                        信息：
                    </td>
                    <td>
                        <input type="text" disabled="disabled" name="Content" id="Content" class="easyui-textbox" style="width: 100px;height:33px;" maxlength=50 /> $/MB
                    </td>
                </tr>
                <tr>
                    <td style="text-align:right">
                        状态：
                    </td>
                    <td>
                        <select id="Status" name="Status" class="easyui-combobox" style="width:100px">
                            <option value="0">待处理</option>
                            <option value="1">处理中</option>
                            <option value="2">完成</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:right" width="100">
                        备注：
                    </td>
                    <td>
                        <input type="text" name="Remark" id="Remark" class="easyui-textbox" style="width: 200px;height:33px;" maxlength="50" /> &nbsp;
                    </td>
                </tr>
            </table>
        </form>
    </div>*@
<script type="text/javascript">
    var grid;
    var dlg_Edit;
    var dlg_Edit_form;

    var toolbar = [{
        text: '删除',
        iconCls: 'icon-cancel',
        handler: del
    }];

    function del() {
        var arr = getSelectedArr();
        if (arr.length > 0) {
            $.messager.confirm('提示信息', '您确认要删除选中的记录吗?', function (data) {
                if (data) {
                    $.ajax({
                        url: '/Manage/UserLog/Delete',
                        type: 'post',
                        data: "ID=" + getSelectedID(),
                        error: function () {
                            Msgalert('错误', '删除失败!', 'error');
                            grid.datagrid('clearSelections');
                        },
                        success: function (data) {
                            if (data.Success) {
                                Msgfade(arr.length + "条记录" + data.Msg); //提示消息
                                grid.datagrid('reload');
                                grid.datagrid('clearSelections'); //清除所有选中的元素
                            } else {
                                Msgalert('错误', data.Msg, 'error');
                            }
                        }
                    });
                }
            });
        } else {
            Msgshow('请先选择要删除的记录。');
        }
    }
    function formatLogFileUrl(value, rec, index) {
        if (value) {
            var str = '';
            $.each(value.split(','), function (i, o) {
                if (str) {
                    str += '<br/>';
                }
                str += "<a href='" + o + "'>" + o + "</a>";
            })
            return str;
        }
        return value;
    }
    function formatLogFileSize(value, rec, index) {
        if (value) {
            var str = '';
            $.each(value.split(','), function (i, o) {
                if (str) {
                    str += '<br/>';
                }
                str += humanReadableFilesize(o);
            })
            return str;
        }
        return value;
    }
    function humanReadableFilesize(size) {
        var units = new Array("B", "KB", "MB", "GB", "TB", "PB");
        var mod = 1024.0;
        var i = 0;
        while (size >= mod) {
            size /= mod;
            i++;
        }
        //return Math.round(size) + units[i];
        return formatNum(size, 1) + units[i];
    }

    //格式化数字类型,保留小数点后几位,非四舍五入
    //size:值
    //n:保留位数
    function formatNum(size, n) {
        var sizeStr = size.toString();
        if (sizeStr.lastIndexOf('.') > -1)
            return sizeStr.substring(0, sizeStr.toString().indexOf('.') + 1 + n);
        else
            return sizeStr;
    }
    function doSearch() {
        $("#grid").datagrid('load', {
            tel: $("#tel").val() == null ? "" : $("#tel").val(),
            createStartDate: $("input[name$='createStartDate']").val(),
            createEndDate: $("input[name$='createEndDate']").val(),
        });
    }
    $(function () {
        grid = $("#grid").datagrid();
        dlg_Edit = $("#dlg-edit").dialog();
        dlg_Edit_form = dlg_Edit.find('form');
    })
    function onDbOpenDialog(index, rowData, value) {
        dlg_Edit.dialog('open');
        dlg_Edit_form.form('clear'); //清除之前面选中的表单
        dlg_Edit.dialog('setTitle', '您正在查看的是：' + rowData.UserLogName + "的费率信息");
        dlg_Edit_form.form('load', rowData); //加载到表单的控件上
        dlg_Edit_form.url = '/Manage/UserLog/Update';
        $("#j_UploadResult").html("");
    }
    //保存数据
    function saveData() {
        dlg_Edit_form.form('submit', {
            url: dlg_Edit_form.url,
            onSubmit: function () {
                return $(this).form('validate');
            },
            success: successCallback
        });
    }
</script>
