@{
    ViewBag.Title = "用户反馈管理";
    Layout = "../Shared/_Layout.cshtml";
}
<script src="~/Content/js/uploadify/jquery.uploadify.min.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="~/Content/js/uploadify/uploadify.css">
<div class="easyui-layout" fit="true">
    <div data-options="region:'north',border:false" style="height:90px">
        <div id="p" class="easyui-panel" title="高级查询" style="width:100%;height:90px;padding:10px;">
            <form id="ff" method="post">
                <span>手机号:</span>
                <input id="tel" type="text" class="easyui-textbox" style="height:25px;" />
                <span>创建时间:</span>
                <input id="createStartDate" type="text" class="easyui-datetimebox" name="createStartDate" data-options="showSeconds:false" style="height:25px;" />
                <span>-</span>
                <input id="createEndDate" type="text" class="easyui-datetimebox" name="createEndDate" data-options="showSeconds:false" style="height:25px;" />
                <a href="#" class="easyui-linkbutton " data-options="iconCls:'icon-search'" onclick="doSearch()">查询</a>
            </form>
        </div>
    </div>
    <div data-options="region:'center',border:false">
        <table id="grid" class="easyui-datagrid" title="反馈列表管理" style="width:100%;height:100%"
               data-options="rownumbers:true,fitColumns:true,singleSelect:true,url:'/Manage/Feedback/GetList',method:'get',toolbar:toolbar,pagination:true,onDblClickRow:onDbOpenDialog">
            <thead>
                <tr>
                    <th data-options="field:'Info',width:300">反馈信息</th>
                    <th data-options="field:'Model',width:150">机型</th>
                    <th data-options="field:'Version',width:150">版本</th>
                    <th data-options="field:'Tel',width:150">用户</th>
                    <th data-options="field:'Mail',width:150">邮箱</th>
                    <th data-options="field:'CreateDate',width:100">创建时间</th>
                    <th data-options="field:'Entrance',width:150">来源</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div id="dlg-edit" class="easyui-dialog" title="查看反馈" style="width:500px;height:265px;padding:20px"
     data-options="
                iconCls: 'icon-save',
                closed:true
            ">
    <form method="post" id="Form" data-options="novalidate:true">
        <input type="hidden" value="" id="ID" name="ID" />
        <table cellpadding="5" class="tb_form">
            <tr>
                <td style="text-align:right" width="100">
                    机型：
                </td>
                <td>
                    <input readonly="readonly" type="text" name="Model" id="Model" class="easyui-textbox" style="width: 220px;height:33px;" maxlength=12 /> &nbsp;
                </td>
            </tr>
            <tr>
                <td style="text-align:right" width="100">
                    反馈信息：
                </td>
                <td>
                    <textarea readonly="readonly" name="Info" id="Info" class="easyui-textbox" style="width: 220px;height:33px;"></textarea> &nbsp;
                </td>
            </tr>
            <tr>
                <td style="text-align:right" width="100">
                    版本：
                </td>
                <td>
                    <input readonly="readonly" type="text" name="Version" id="Version" class="easyui-textbox" style="width: 220px;height:33px;" maxlength=8 /> &nbsp;
                </td>
            </tr>
        </table>
    </form>
</div>


<script type="text/javascript">
    var grid;
    var dlg_Edit;
    var dlg_Edit_form;

    var toolbar = [{
        text: '删除反馈',
        iconCls: 'icon-cut',
        handler: del
    }];

    $(function () {
        grid = $("#grid").datagrid();
        dlg_Edit = $("#dlg-edit").dialog();
        dlg_Edit_form = dlg_Edit.find('form');
    })

    function onDbOpenDialog(index, rowData, value) {

        dlg_Edit.dialog('open');
        dlg_Edit_form.form('clear'); //清除之前面选中的表单
        dlg_Edit.dialog('setTitle', '您正在查看的是：' + rowData.Tel + " 的信息");
        dlg_Edit_form.form('load', rowData); //加载到表单的控件上
    }

    function doSearch() {
        $("#grid").datagrid('load', {
            tel: $("#tel").val() == null ? "" : $("#tel").val(),
            createStartDate: $("input[name$='createStartDate']").val(),
            createEndDate: $("input[name$='createEndDate']").val(),
        });
    }

    //删除数据
    function del() {
        var arr = getSelectedArr();
        if (arr.length > 0) {
            $.messager.confirm('提示信息', '您确认要删除选中的记录吗?', function (data) {
                if (data) {
                    $.ajax({
                        url: '/Manage/Feedback/Delete',
                        type: 'post',
                        data: "ID=" + getSelectedID(),
                        error: function () {
                            Msgalert('错误', '删除失败!', 'error');
                            grid.datagrid('clearSelections');
                        },
                        success: function (data) {
                            if (data.Success) {
                                Msgfade(arr.length + "条记录" + data.Msg); //提示消息
                                grid.datagrid('reload');
                                grid.datagrid('clearSelections'); //清除所有选中的元素
                            } else {
                                Msgalert('错误', data.Msg, 'error');
                            }
                        }
                    });
                }
            });
        } else {
            Msgshow('请先选择要删除的记录。');

        }
    }
</script>
